@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap'); */


.controls-parent {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px;
  /* left: 20px; */
  z-index: 1;
  user-select: none;
  /* For older Safari versions, you might need the vendor prefix */
  -webkit-user-select: none;
  /* For older IE versions (IE 10 and 11), you might need the vendor prefix */
  -ms-user-select: none;
}


/* 2. Remove the margin for any element of the class that has a sibling with the same class before it */
.container .my-class ~ .my-class {
  margin-top: 0;
}


/* .controls-button {
  color: #1e2939;
  background-color: #d1d5dc;
  border-radius: 0.25rem;
  font-weight: 800;
} */

.controls-button {
  background-color: #ffffff;
  color: #193cb8;

  &:hover {
    box-shadow: 0 0 0.5em 0em #ff0000;
    border-color: #ff0000;
  }

  &:focus {
    box-shadow: 0 0 0.5em 0em #ff0000;
    border-color: #ff0000;
  }
}


.controls-middle-row {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif;
}


h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1;
}

h2, h3, h4, h5 {
  max-width: 32ch;
}

#topNote {
  font-size: 2rem;
  margin-top: 2rem;
}


#topDescription {
  margin-top: 2rem;
}


#noteInfo {
  background-color: #f5f5f5; border-radius: 16px; border-top: 4px solid #193cb8; color: black; margin-top: 2rem;
}


#noteTop {
text-align: left; 
padding: .5rem 1rem 0 1rem;
color: #193cb8;
}

.svg-inline--fa {
vertical-align: -.1em;
}

#noteEmIcon {
font-size: 1.25rem; color: #193cb8; padding-right: .5em;
}


#notetitle {
font-size: 1.25rem; color: #193cb8; font-weight: 650;
}


#noteText {
  text-align: left; 
  padding: 0 1rem 1rem 1rem; 
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 32ch;
}

/* Email */
#emailCode {
  margin-top: 1rem;
}

.bg {
  border-radius: 0 !important;
}


p {
  max-width: 65ch;
  line-height: 1.5;
  white-space: pre-line;
}


.desktop-header {
  text-align: center;
  margin: auto auto auto auto;
  font-size: x-large;
}

.mobile-header {
  font-size: x-large;
  text-align: center;
  margin: auto auto auto auto;
}

.header-background {
  padding: 1rem 1rem 1rem 1rem;
    background-color: #f7f7f7;
  color: #000000;
}

.desktop-header-background {

}

.mobile-header-background {

}

/* Container for images */
.parent-2-col-images {
    display: flex;              /* Arrange images in a row */
    gap: 8px;                  /* Space between images */
    align-items: flex-start;
}

/* First image takes most of the space */
.child-2-col-images-1 {
    flex: 4;                    /* Larger portion */

    object-fit: cover;          /* Maintain aspect ratio */
}

/* Second image smaller */
.child-2-col-images-2  {
    flex: 1;                    /* Smaller portion */

    overflow: hidden;  
}

.mobileimageparent {
  overflow-y: auto; /* enables vertical scrolling */
}


.child-2-col-images-2 img {
    width: 100%;            /* Fill container width */
    height: auto;           /* Fill container height */
    display: block;         /* Remove inline gap */
}



/* .child-2-col-images-2 img {
    width: 100%;          
    height: 100%;          
    object-fit: cover;      
    display: block;         
    object-position: 50% 0%;
} */

@media (max-width: 600px) {
  .desktop-header {
  font-size: 1rem;
  }

  .mobile-header {
   font-size: 1rem;
  }

  .header-background {
    padding: .5rem .25rem .5rem .25rem;
    background-color: #f7f7f7;
    color: #000000;
  }

    /* Container for images */
.parent-2-col-images {
    display: flex;              /* Arrange images in a row */
    gap: 2px;                  /* Space between images */
    align-items: flex-start;
}

/* First image takes most of the space */
.child-2-col-images-1 {
    flex: 70%;                    /* Larger portion */
    width: 80%;
    object-fit: cover;          /* Maintain aspect ratio */
}



/* Second image smaller */
.child-2-col-images-2  {
    flex: 30%;                    /* Smaller portion */
    overflow: hidden;  
}

.mobileimageparent {
  overflow-y: auto; /* enables vertical scrolling */
}


.child-2-col-images-2 img {
    width: 100%;            /* Fill container width */
    height: auto;           /* Fill container height */
    display: block;         /* Remove inline gap */
}

}






.popup {  
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        z-index: 10;
        width: 90%;
        overflow-y: auto;
        max-height: 80vh;
}


/* .popup {
        
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        z-index: 10;
        width: 90%;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: 1px solid #ccc;
        z-index: 10;
        width: 90%;
}
*/


#popUpCloseButton {
  position: absolute;
  top: 5.75%;
  right: 1.75%;
  border: none;
  cursor: pointer;
  z-index: 11;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2px; /* Adjust the value to add space between the image and text */
  align-items: center;
  padding: .5rem 1.25rem .5rem 1rem;

}

.close-text {
  margin-top: -.12rem;
}


.popupimage1 {
  width: 60%;
  margin: auto;
}

.popupheader1 {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* .buttonGrid {
  
  display: grid;
  grid-template-columns: auto;
  gap: 5px; 
  
} */


/* html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */



/* Responsive: stack images on small screens */
@media (max-width: 600px) {

.popup { 
  top: 10%; 
  transform: translateX(-50%); /* only center horizontally */
  width: 96%;
}

#popUpCloseButton {
    font-size: 1rem;
    cursor: pointer;
    z-index: 11;
    grid-gap: 2px;
    border: none;
    grid-template-columns: auto 1fr;
    align-items: center;
    display: grid;
    position: absolute;
    top: 7.75%;
    right: 1.75%;
    padding: .25rem .5rem .25rem .35rem;

    & svg {
    width: 1.25rem !important; 
    height: auto;
}
}



}



@media screen and (max-width: 600px) {

#noteTop {
padding: .25rem 1rem 0 1rem;
}


#notetitle {
font-size: 1.25rem; color: #193cb8; font-weight: 650;
}


#noteText {
  font-size: 1.25rem;
  text-align: left; 
  padding: 0 1rem .25rem 1rem; 
}

  p {
    font-size: 0.875rem;
  }


  #topNote {
  margin-top: 1rem;
  }


  #topDescription {
  margin-top: 1rem;
  }
  


  #emailCode {
  margin-top: .25rem;
  }

}
